.input {
  width: 171px;
  height: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 5px 0;
  text-align: right;
}

.clear {
  width: 171px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  margin: 0 0 5px 0;
}

.btns span {
  float: left;
  width: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px 5px 0;
  text-align: right;
}

.btns {
  font: bold 14px Arial, sans-serif;
  cursor: pointer;
  color: grey;
}

.calculator {
  width: 190px;
}